## -*- coding: utf-8 -*-
<%inherit file="page.tmpl"/>

<%block name="nav_secondary">
<ul class="container secondary">
    <li><a href="#about">About</a></li>
    <li><a href="#experience">Experience</a></li>
    <li><a href="#education">Education</a></li>
    <li><a href="#languages">Languages</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#community">Community</a></li>
    <li><a href="#open-source">Open Source</a></li>
    <li><a href="#research">Research</a></li>
</ul>
</%block>

<%block name="extra_head">
<link rel="stylesheet" href="/assets/css/resume.css" type="text/css" />
</%block>

<%block name="content_about">Learn more about me</%block>

